* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: Estedad-Medium;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 49%, rgba(239,246,254,1) 100%);
}


header {
    width: 1280px;
    height: 80px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.65);
    backdrop-filter: blur(20px);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.103);
    border-radius: 20px;
    position: relative;
    top: 20px;
    position: sticky;
    z-index: 100;
    
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 12px;
}

.navbar-items {
    display: flex;
    justify-content: center;
}

.navbar-items h3 {
    color: #fff;
    background-color: #096BDE ;
    padding: 3px 18px;
    border-radius: 10px;
    font-family: Estedad-Regular;
    margin-right: 30px;
    cursor: pointer;
}

.navbar-items h3:hover {
    background-color: #064c9d ;

}

.navbar-items #login {
    
    margin-right: 20px;
    font-size: 1.2rem;
    border: 1px solid rgba(0, 0, 0, 0.158);
    border-radius: 10px;
    padding: 2px 15px;
    cursor: pointer;

}

.navbar-more {
    align-items: center;
    display: flex;
    margin-right: 50px;
    font-size: 1.1rem;
    color: #096BDE;
    cursor: pointer;
    user-select: none;

}

.navbar-more i {
    font-size: 2rem;
}

.dropdown {
    display: flex;
    justify-content: space-evenly;
    width: 928px;
    height: 512px;
    background-color: #fff;
    position: absolute;
    top: 5px;
    right: 15px;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.057);
    padding: 20px 0;
    transition: .2s all ease-in-out;
    visibility: hidden;
    opacity: 0;

}
.dropdown .dropbox {
    width: 45%;
    padding: 10px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    

}

.dropdown .dropbox .dropbox-child {
    display: flex;
    width: 100%;
    height: 18%;
    padding: 50px 10px;
    cursor: pointer;
    

}

.dropdown .dropbox .dropbox-child:hover {

    background-color: #F9FAFB;
    border-radius: 10px;
}

.dropdown .dropbox .dropbox-child .box-1 {
    display: flex;
    width: 10%;
    position: relative;
    bottom: 11px;
    
}


.dropdown .dropbox .dropbox-child .box-1 i {
    font-size: 1.6rem;

}

.dropdown .dropbox .dropbox-child .box-2 {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.dropdown .dropbox .dropbox-child .box-2 h6{
    font-size: 16px;
}
.dropdown .dropbox .dropbox-child .box-2 p {
    font-size: .9rem;
    font-family: Estedad-Light;
    line-height: 30px;

}

.dropdown .dropbox .dropbox-bottom {
    width: 100%;
    height: 14%;
    background-color: red;
}

.contact-me {
    margin-right: 50px;
    font-size: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}


.logo img {
    width: 170px;
    margin-left: 30px;
    position: relative;
    top: 1px;
}

.chatbot-form {
    width: 458px;
    height: 590px;
    border: 1px solid rgba(0, 0, 0, 0.124);
    border-radius: 20px;
}

.chatbot-form .chatbot-first-box {
    display: flex;
    width: 90%;
    margin: auto;

    font-family: Estedad-Light;
    margin-top: 30px;

}

.chatbot-form .chatbot-first-box .first-logo i {
    font-size: 1.6rem;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.124);
    border-radius: 50px;
    margin-left: 10px;
}

.chatbot-form .chatbot-first-box .first-text {
    padding: 15px;
    font-size: 1rem;
    text-align: right;
    border: 1px solid rgba(0, 0, 0, 0.124);
    border-radius: 20px;

}

.chatbot-form .chatbot-second-box {
    display: flex;
    justify-content: flex-end;
    width: 90%;
    font-family: Estedad-Light;
    margin: auto;
    margin-top: 30px;

}

.chatbot-form .chatbot-second-box .second-logo i {
    font-size: 1.6rem;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.124);
    border-radius: 50px;
    margin-right: 10px;
}

.chatbot-form .chatbot-second-box .second-text {
    padding: 10px;
    font-size: 1rem;
    text-align: right;
    border: 1px solid rgba(0, 0, 0, 0.124);
    border-radius: 20px;

}

.chatbot-form .chatbot-third-box {
    display: flex;
    justify-content: flex-end;
    width: 90%;
    font-family: Estedad-Light;
    margin: auto;
    margin-top: 30px;

}

.chatbot-form .chatbot-third-box .third-logo i {
    font-size: 1.6rem;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.124);
    border-radius: 50px;
    margin-left: 10px;
}

.chatbot-form .chatbot-third-box .third-text {
    padding: 10px;
    font-size: 1rem;
    text-align: right;
    border: 1px solid rgba(0, 0, 0, 0.124);
    border-radius: 20px;

}

.chatbot-form .chatbot-third-box .third-text #blue-text {
    color: #0A6BDE;
}

.chatbot-form .input-button {
    width: 90%;
    margin: auto;
    position: relative;
    top: 140px;
}

.chatbot-form .input-button .question {
    display: flex;
    margin-bottom: 10px;
}

.chatbot-form .input-button .question h4:hover {
    background-color: rgb(214, 214, 215) !important;
}


.chatbot-form .input-button .question h4:first-child {
    margin-left: 15px ;
    background-color: #EBEBEF ;
    padding: 2px 15px;
    border-radius: 8px;
    font-size: .9rem;

}
.chatbot-form .input-button .question h4:last-child {
    margin-left: 20px ;
    background-color: #EBEBEF ;
    padding: 2px 15px;
    border-radius: 8px;
    font-size: .9rem;


}

.chatbot-form .input-button .input {
    display: flex;
}

.chatbot-form .input-button .input input {
    width: 88%;
    height: 50px;
    background-color: #F4F8FD;
    border: 1px solid rgba(0, 0, 0, 0.124);
    border-radius: 10px;

}

.chatbot-form .input-button .input i{
    font-size: 2rem;
    display: flex;
    align-items: center;
    background-color: #EBEBEF ;
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;

}


.input-button h5{
    text-align: center;
    margin-top: 10px;
}

.input-button h5 #blue-text{
    color: #0A6BDE;
}



/* -----------------------main----------------------- */

.banner {
    width: 500px;
    margin: auto;
    position: relative;
    top: 100px;
    left: 390px;
    background-color: #F0F6FF ;
    border-radius: 50px;
    border: 1px solid #096dde2c ;
    display: flex;
    padding: 3px 1px;
}

.banner #channel-login {
    display: flex;
    align-items: center;
    font-family: Estedad-Bold ;

}

.banner-main-text {
    color: #fff;
    background-color: #096BDE;
    padding: 2px 10px;
    border-radius: 50px;
    margin: 6px;
}

.channel-link {
    display: flex;
    align-items: center;
    margin-right: 15px;
    color: #096BDE;
}

.channel-link i {
    font-size: 1.3rem;
    position: relative;
    top: 2px;
    right: 7px;
}

.main-text {
    margin-top: 150px;
    font-size: 1.04rem;
}

.main-text h2 {
    font-family: Estedad-Light;
    font-size: 1.8rem;
}

.main-text h1 {
    font-family: Estedad-ExtraBold ;
    color: #096BDE;
}

.fsection {
    width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-between;

}

.main-text p {
    width: 650px;
    margin-top: 40px;
    font-family: Estedad-Regular ;
    font-size: 1.08rem;
}

.introduce {
    margin-top: 40px;
}


.rates {
    margin-top: 30px;
}

.rates p {
    position: relative;
    bottom: 45px;
    margin-top: 30px;
}

.buttons {
    display: flex;
}


.buttons h3:first-child {
    font-family: Estedad-Light;
    font-size: 1rem;
    color: #fff;
    background-color: #096BDE;
    padding: 1px 25px;
    border-radius: 50px;
    display: flex;
    align-items: center;
}

.buttons h3:last-child {
    font-family: Estedad-Light;
    color: #096BDE;
    background-color: #fff;
    border: 1px solid #096dde3a;
    border-radius: 50px;
    padding: 5px 15px;
    margin-right: 30px;
    display: flex;
    align-items: center;
}

.buttons img {
    width: 26px;
}


.attributes-section {
    width: 1280px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}


.attribute-main-text .first {
    color: #096BDE ;

}

.attribute-main-text h1 {
    font-family: Estedad-Bold;
}

.attribute {
    width: 500px;
}

.attribute p {
    font-family: Estedad-Light;
}

#attribute-image {
    width: 700px;
}


.first-attribute {
    display: flex;
    margin-top: 40px;
}

.first-attribute img {
    margin-left: 10px;
}

#first-attribute {
    margin-top: 8px;
    width: 600px;
    font-family: Estedad-Regular;
}

.second-attribute {
    display: flex;
    margin-top: 40px;


}


.second-attribute img {
    margin-left: 10px;

}


#second-attribute {
    width: 600px;
    font-family: Estedad-Regular;
    margin-top: 8px;

}


.third-attribute {
    display: flex;
    margin-top: 40px;
    
}

.third-attribute img {
    margin-left: 10px;
}

#third-attribute {
    margin-top: 8px;
    width: 600px;
    font-family: Estedad-Regular;
}


.fourth-attribute {
    display: flex;
    margin-top: 40px;
}

.fourth-attribute img {
    margin-left: 10px;
}

#fourth-attribute {
    margin-top: 8px;
    width: 600px;
    font-family: Estedad-Regular;
}

.inroduce-video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
}

.inroduce-video video {
    width: 1200px;
    margin: auto;
    border-radius: 10px;
    margin-top: 30px;
}

.inroduce-video p {
    font-family: Estedad-Light;
    
}


.aboutus {
    width: 70%;
    margin: auto;
    margin-top: 80px;
    text-align: center;
}

.aboutus h1 {
    color: #096BDE;
}

.aboutus p {
    margin-top: 20px;
    font-family: Estedad-Light;

    
}

.footer {
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: 50px;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(213,230,252,1) 0%, rgba(2309,255,255,1) 50%);

    height: 100%;
    padding: 100px 0 0 0;
}

#footer-button {
    display: inline-block;
    padding: 2px 15px;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.089);
    background-color: #fff;
}

footer #footer-p {
    margin-top: 25px;
    font-family: Estedad-Light;
}


footer #footer-button {
    margin-top: 25px;
}

.social {
    margin-top: 100px;
    height: 15vh;
    background-color: #fff;
}

.social img {
    margin-top: 20px;
}




